altgraph==0.17.5
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==26.2
ParadoxParser @ git+https://github.com/stevenj2019/ParadoxParser.git@50a42ea451269e52c8db79c457eed1f419a0efe1
platformdirs==4.10.0
pyinstaller==6.21.0
pyinstaller-hooks-contrib==2026.6
PyQt5==5.15.11
PyQt5-Qt5==5.15.19
PyQt5_sip==12.18.0
pyqtdarktheme==0.1.7
setuptools==82.0.1
